<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<form th:action="@{/folders/insert}" method="post">
  <label>Folder Name:</label>
  <input type="text"  name="folderName" value=""><br><br>

  <label>Folder date:</label>
  <input type="text" name="folderDate" value=""><br><br>

  <label>Parent Folder_Id:</label>

  <input type="text" name="parentFolderId" th:value="${idParentFolder}"><br><br>
  <label>User_Id:</label>
  <input type="text" name="userId"  th:value="${idUser}"><br><br>
  <input type="submit" value="Save">
</form>
</body>
</html>