<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<form th:action="@{/folders/edit}" method="post">
  <label>Folder Name:</label>
  <input type="text"  name="folderName" th:value="${folderName}"><br><br>

  <input type="hidden"  name="folderId" th:value="${folderId}">

  <label>Folder date:</label>
  <input type="text" name="folderDate" th:value="${folderDateCreated}"><br><br>
  <input type="hidden" name="parentFolderId" th:value="${idParentFolder}"><br><br>
  <input type="hidden" name="userId"  th:value="${idUser}"><br><br>
<!--  <input type="submit" value="Save">-->

  <button type="submit" name="action" value="create">Create</button>
  <button type="submit" name="action" value="update">Update</button>

</form>
</body>
</html>