<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>


<audio controls>
  <source th:src="@{'/upload/' + ${fileName}}" type="audio/ogg">
  <source th:src="@{'/upload/' + ${fileName}}" type="audio/mpeg">
</audio>

<img alt="photo" title="anh" th:src="@{'/upload/'+${fileName}}"/>

<video width="320" height="240" controls>
  <source th:src="@{'/upload/' + ${fileName}}" type=video/mp4>
</video>
</body>
</html>