<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
<!--    <h1 th:text="${test}"></h1>-->
    <tr th:each="folder,index : ${folderInfo}">
            <td>
                <a th:href="@{/folders/parent(id=${folder.id},user-id=${folder.getUserId()})}">
                    <img alt="photo" title="Google login" th:src="@{/img/anhfolder.jpg}" th:width="40" th:height="40"/>
                </a>
            </td>
            <td th:text="${folder.name}"> </td>
            <td th:text="${folder.date}"> </td>

        <div th:if="${index.count==folderInfo.size()}">
            <a th:href="@{/folders/insert(id-folder-parent=${folder.getFolderId()},id-user=${folder.getUserId()})}">
                <img alt="photo" title="Google login" th:src="@{/img/add.png}" th:width="40" th:height="40"/>
            </a>


            <form th:action="@{/upload}" method="post" enctype="multipart/form-data" >
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>
    </tr>

</table>
</body>
</html>