<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>

<table>
<tr th:each="note,index : ${notes}">
  <td>
      <input type="text" name="noteInfor" th:value="${note.getNote()}" readonly>
  </td>
    <td>
        <input type="text" name="date" th:value="${note.getDate()}" readonly>
    </td>
</tr>
</table>


<form th:action="@{/note/insert}" method="post">
    <input type="date" name="date">

    <input type="text" name="noteInfor">

    <input type="hidden" name="folderId" th:value="${folderId}">

    <input type="hidden" name="userId" th:value="${userId}">

    <input type="hidden" name="contentId" th:value="${contentId}">

    <button type="submit" name="action" value="noteFolder">Note Folder</button>
    <button type="submit" name="action" value="noteContent">Note Content</button>
</form>
</body>
</html>