<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>

<table>
<tr th:each="note,index : ${notes}">
  <td>
      <textarea name="noteInfor" rows="5" cols="30" th:value="${note.getNote()}">
      </textarea>
  </td>
</tr>
</table>


<form th:action="@{/note/insert}" method="post">
    <input type="date" name="date">

  <textarea name="noteInfor" rows="5" cols="30">
  </textarea>

    <input type="hidden" name="folderId" th:value="${folderId}">

    <input type="hidden" name="userId" th:value="${userId}">

    <input type="hidden" name="contentId" th:value="${contentId}">

  <button type="submit" name="note" value="Note">Note</button>
</form>
</body>
</html>